/*CSS file*/

.reg
{
            width: 50%;
            padding: 15px;
            margin: 0 auto;
            color: #1a1a1a;
            margin-top: 40px;
    
}

.login
{
            width: 40%;
            padding: 15px;
            margin: 0 auto;
            color: #1a1a1a;
            margin-top: 40px;
}


h2
{
    text-align: center;
}


#new_user
{
    margin-top: 10px;
    text-align: center;
}

